.header img{
    display: flex;
    width: 150px;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    background-color: black;
    border: solid 2px;
    border-color: rgb(254, 189, 90);
}

.header-page{
        display: flex;
        justify-content: space-around;
        background-color: black;
        border: solid 2px;
        border-color: rgb(254, 189, 90);
}

.header-page img{
    display: flex;
    width: 100px;
}

.header-navegacao{
    width: 100px;
    background-color: red;
}