.body{
    background-color: #795548;
}

.data-dia{
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.data-dia h1{
    display: flex;
}

.cartao{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cartao-img{
    background-color: rgb(254, 189, 90);
    padding: 0 5px 0 5px;
    border: solid rgb(254, 189, 90);
    
}

.cartao .cartao-texto{
 width: 100%;
    color: black;
    background-color: rgb(254, 189, 90);
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.pagination a{
    background-color:#795548;
    color: rgb(254, 189, 90);
}

.turma{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 189, 90);
    color: black;
}